NOTICE filter=lfs diff=lfs merge=lfs -text
fileset-misc.txt filter=lfs diff=lfs merge=lfs -text
fileset-src.txt filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_PUBLIC_DOMAIN filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
build.xml filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
maven filter=lfs diff=lfs merge=lfs -text
THANKS filter=lfs diff=lfs merge=lfs -text
build.properties filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
